<h1 class="text-3xl font-bold capitalize">
  Teste tailwind e componente customizavel
</h1>

<div class="m-2" [formGroup]="form">
  <p>Componente customizavel</p>
  <escolha-quantidade [incremento]="1" formControlName="quantidade1"></escolha-quantidade>
  <hr class="my-5" />
  <p>Componente customizavel com diferente config</p>
  <escolha-quantidade [incremento]="2" formControlName="quantidade2"></escolha-quantidade>
  <hr class="my-5" />
  <p>Desabilitado</p>
  <escolha-quantidade [incremento]="0" formControlName="quantidade3"></escolha-quantidade>

  <p>Entrade de texto exemplo </p>
  <entrada-texto rotulo="Meu rotulo" [maximoCaracteres]="maximoCaracteres" formControlName="meuTexto"></entrada-texto>

  <hr class="my-5" />

  <div class="flex gap-1">
    <button
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      (click)="log()">Obter valores do form</button>

    <button
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      (click)="habilitarDesabilitarEntradaTexto()">Desabilitar Entrada de Texto</button>

    <button
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      (click)="alterarQuantidadeDeCaracteres()">Alterar quantidade máxima de caracteres</button>
  </div>
  <br />
</div>




<pre>
  {{ form.value | json }}  
</pre>